<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>Lake/IMG_0150.jpg</string>
    <string>Lake/IMG_0154.jpg</string>
    <string>Lake/IMG_0163.jpg</string>
    <string>Lake/IMG_0169.jpg</string>
    <string>Lake/IMG_0170.jpg</string>
    <string>Lake/IMG_0173.jpg</string>
    <string>Lake/IMG_0174.jpg</string>
    <string>Lake/IMG_0180.jpg</string>
    <string>Lake/IMG_0181.jpg</string>
    <string>Lake/IMG_0184.jpg</string>
    <string>Lake/IMG_0197.jpg</string>
</array>
</plist>
